/makefile.inc
/tests/demo_ivfpq_indexing
*.swp
*.swo
*.o
*.a
*.dSYM
*.so
*.pyc
*~
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
build/
dist/
faiss.egg-info/
faiss/
makefile_example.inc
