name: Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    tags:
      - 'v*'
env:
  OMP_NUM_THREADS: '10'
  MKL_THREADING_LAYER: GNU
jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install clang-format
        run: |
            sudo apt-get update -y
            sudo apt-get install -y wget
            sudo apt install -y lsb-release wget software-properties-common gnupg
            wget https://apt.llvm.org/llvm.sh
            chmod u+x llvm.sh
            sudo ./llvm.sh 18
            sudo apt-get install -y git-core clang-format-18
      - name: Verify clang-format
        run: |
            git ls-files | grep -E  '\.(cpp|h|cu|cuh)$' | xargs clang-format-18 -i
            if git diff --quiet; then
              echo "Formatting OK!"
            else
              echo "Formatting not OK!"
              echo "------------------"
              git --no-pager diff --color
              exit 1
            fi
  linux-x86_64-cmake:
    name: Linux x86_64 (cmake)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ./.github/actions/build_cmake
  linux-x86_64-AVX2-cmake:
    name: Linux x86_64 AVX2 (cmake)
    needs: linux-x86_64-cmake
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ./.github/actions/build_cmake
        with:
          opt_level: avx2
  linux-x86_64-AVX512-cmake:
    name: Linux x86_64 AVX512 (cmake)
    needs: linux-x86_64-cmake
    runs-on: faiss-aws-m7i.large
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ./.github/actions/build_cmake
        with:
          opt_level: avx512
  linux-x86_64-GPU-cmake:
    name: Linux x86_64 GPU (cmake)
    needs: linux-x86_64-cmake
    runs-on: 4-core-ubuntu-gpu-t4
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ./.github/actions/build_cmake
        with:
          gpu: ON
  linux-x86_64-GPU-w-RAFT-cmake:
    name: Linux x86_64 GPU w/ RAFT (cmake)
    needs: linux-x86_64-cmake
    runs-on: 4-core-ubuntu-gpu-t4
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ./.github/actions/build_cmake
        with:
          gpu: ON
          raft: ON
  linux-x86_64-GPU-w-ROCm-cmake:
    name: Linux x86_64 GPU w/ ROCm (cmake)
    needs: linux-x86_64-cmake
    runs-on: 4-core-ubuntu
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ./.github/actions/build_cmake
        with:
          gpu: ON
          rocm: ON
  linux-arm64-SVE-cmake:
    name: Linux arm64 SVE (cmake)
    needs: linux-x86_64-cmake
    runs-on: faiss-aws-r8g.large
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: ./.github/actions/build_cmake
        with:
          opt_level: sve
  linux-x86_64-conda:
    name: Linux x86_64 (conda)
    needs: linux-x86_64-cmake
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/build_conda
  windows-x86_64-conda:
    name: Windows x86_64 (conda)
    needs: linux-x86_64-cmake
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/build_conda
  linux-arm64-conda:
    name: Linux arm64 (conda)
    needs: linux-x86_64-cmake
    runs-on: 2-core-ubuntu-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/build_conda
  linux-x86_64-packages:
    name: Linux x86_64 packages
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/build_conda
        with:
          label: main
  linux-x86_64-GPU-packages-CUDA-11-4-4:
    name: Linux x86_64 GPU packages (CUDA 11.4.4)
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: 4-core-ubuntu-gpu-t4
    env:
      CUDA_ARCHS: "60-real;61-real;62-real;70-real;72-real;75-real;80;86-real"
      FAISS_FLATTEN_CONDA_INCLUDES: "1"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/build_conda
        with:
          label: main
          cuda: "11.4.4"
          compiler_version: "11.2"
  linux-x86_64-GPU-RAFT-packages-CUDA11-8-0:
    name: Linux x86_64 GPU w/ RAFT packages (CUDA 11.8.0)
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: 4-core-ubuntu-gpu-t4
    env:
      CUDA_ARCHS: "70-real;72-real;75-real;80;86-real"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/build_conda
        with:
          label: main
          raft: "ON"
          cuda: "11.8.0"
          compiler_version: "11.2"
  linux-x86_64-GPU-packages-CUDA-12-1-1:
    name: Linux x86_64 GPU packages (CUDA 12.1.1)
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: 4-core-ubuntu-gpu-t4
    env:
      CUDA_ARCHS: "70-real;72-real;75-real;80;86-real"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/build_conda
        with:
          label: main
          cuda: "12.1.1"
          compiler_version: "11.2"
  linux-x86_64-GPU-RAFT-packages-CUDA12-1-1:
    name: Linux x86_64 GPU w/ RAFT packages (CUDA 12.1.1)
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: 4-core-ubuntu-gpu-t4
    env:
      CUDA_ARCHS: "70-real;72-real;75-real;80;86-real"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/build_conda
        with:
          label: main
          raft: "ON"
          cuda: "12.1.1"
          compiler_version: "11.2"
  windows-x86_64-packages:
    name: Windows x86_64 packages
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/build_conda
        with:
          label: main
  osx-arm64-packages:
    name: OSX arm64 packages
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/build_conda
        with:
          label: main
  linux-arm64-packages:
    name: Linux arm64 packages
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: 2-core-ubuntu-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/build_conda
        with:
          label: main
